@keyframes spin {
    from {
        transform: rotate(0deg) scale(1);
    }
    to {
        transform: rotate(360deg) scale(1.5);
    }
}

#title {
    margin-left: auto;
    margin-right: auto;
}

#about {
    text-align: center;
    padding: 50px;
}

a {
    color: black;
}

img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.skills {
    text-align: center;
    margin-top: 25px;
}

ul>li {
    display: inline;
    padding: 10px;
    list-style: none;
    font-size: 20px;
    border: black solid 2px;
}

.links a {
    padding: 10px;
}

.dropdown {
    padding: 20px;
    display: inline-block;
    color: black;
}

.btn {
    color: white;
    background-color: black;
}

i {
    font-size: 48px;
}

i:hover {
    transform: scale(1.5);
    animation-duration: 1s;
    animation-name: spin;
}

.footer {
    text-align: center;
}

@media only screen and (max-width:720px) {
    li {
        display: block;
    }
}

p {
    width: auto;
    display: block
}


}